### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

###
/static/images/temp/*.png
/test.py
/del.py
/requirements.txt
/remove_old_temp_files.txt
/templates/test*