<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Hs Deck Creator</title>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

<div class="mainblock">
    <form action="" method="post" name="form">
        <div class="form-group">
            <label for="deck_string_form">Deckstring <span id="status_span"></span></label>
            <input class="form-control" id="deck_string_form_input" name="deck_string_form_input" aria-describedby="deck_string_form_input_Help" oninput="checkDeckStringExistence(this)">           
            <small id="deck_string_form_input_Help" class="form-text text-muted">Paste your deck's code.</small>
        </div>

        <div class="deck_string_form_lang_checkbox">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options_LANG" id="option_enUS"  value="enUS" checked> enUS
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options_LANG" id="option_ruRU"  value="ruRU" > ruRU
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options_LANG" id="option_jaJP"  value="jaJP" > jaJP
                </label>
            </div>
        </div>
        <!-- <button type="submit" class="centerblock__sendbtn" id="get_image">Get image</button> -->
        <button type="button" class="centerblock__sendbtn" id="get_image" onclick="get_deck_info();">Get image</button>

    </form>
<!--     <br>
    <div>
        <button type="button" value="Len" onclick="get_len();"> Len
    </div> -->

    <br>


    <!-- <a id="download" download="image.png"><button type="button" onClick="downloadImage()">Download</button></a> -->
    <a id="download" download="image.png"><button type="button" class="btn btn-success" id="download_btn" onClick="downloadImage()" disabled>Download</button></a>


    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-info btn-sm">
            <input class="ooo" type="radio" name="options" id="radio_option_6" autocomplete="off" onclick="drawCanvas();"> 6 Cols
        </label>
        <label class="btn btn-info btn-sm active">
            <input class="ooo" type="radio" name="options" id="radio_option_7" autocomplete="off" checked onclick="drawCanvas();"> 7 Cols
        </label>
        <label class="btn btn-info btn-sm">
            <input class="ooo" type="radio" name="options" id="radio_option_8" autocomplete="off" onclick="drawCanvas();"> 8 Cols
        </label>    
        <label class="btn btn-info btn-sm">
            <input class="ooo" type="radio" name="options" id="radio_option_10" autocomplete="off" onclick="drawCanvas(0);"> 10 Cols
        </label>
    </div>

    <br>22.25 just some separate text string 

    <div class="flex-container" id="canvas_div">
        <canvas class="inner-element" id='canvas' width="1792" height="1200">Закруглённые углы</canvas>
    </div>

    <br>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous"></script>
<script src= "{{ url_for('static',filename='js/script.js') }}"></script>

</body>
</html>


