<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Hs Deck Creator</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/flags.css') }}">

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="{{ url_for('static',filename='js/iro.min.js') }}"></script>

</head>

<body>

<div class="mainblock">
    <!-- <b class="code_example">AAECAQcC0gLerQMOFhyQA9QE1AjSpQP1qAPcqQPdrQOktgOrtgO7uQPAuQOcuwMA</b> -->
    <div class="block_send">
        <form action="" method="post" name="form">
            <b id="status" disabled>placeholder</b>
            <center><input class="block_send__input" id="block_send__input" name="block_send__input" type="text" spellcheck="false" placeholder="Your code" oninput="checkDeckStringExistence(this)"></center>
            <!-- <input name="block_send__input" oninput="checkDeckStringExistence(this)">  -->

            <div class="deck_string_form_lang_checkbox">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary btn-sm active">
                        <input type="radio" name="options_LANG" id="option_enUS"  value="enUS" checked> EN
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_ruRU"  value="ruRU" > RU
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_deDE"  value="deDE" > DE
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_esES"  value="esES" > ES
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_esMX"  value="esMX" > MX
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_frFR"  value="frFR" > FR
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_itIT"  value="itIT" > IT
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_jaJP"  value="jaJP" > JP
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_koKR"  value="koKR" > KR
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_plPL"  value="plPL" > PL
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_ptBR"  value="ptBR" > BR
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_thTH"  value="thTH" > TH
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_zhCN"  value="zhCN" > CN
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options_LANG" id="option_zhTW"  value="zhTW" > TW
                    </label>

                </div>
            </div>
            <div id="block_send__flex">
                <button type="button" class="block_send__sendbtn" id="get_image0" onclick="get_deck_info();">Get images</button>
                <img id="arrow_right" src="{{url_for('static', filename='images/arrow_right.svg')}}" alt=">">
                <button type="button" class="block_send__sendbtn" id="options">Options</button>
                <img id="arrow_right" src="{{url_for('static', filename='images/arrow_right.svg')}}" alt=">">
                <a id="download" download="image.png">
                    <button type="button" class="block_send__sendbtn" id = "download_btn" onclick="downloadImage();">Download</button>
                </a>
            </div>
        </form>
    </div>

<div id="hidden">
    <div class="block_options" id="block_options">
<!--         <div class="opt_col">
            <div class="opt_col__line">
                <p>Columns</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="radio" name="options_cols" value="6" valureautocomplete="off" onclick="drawCanvas();">6x↓
                    </label>
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options_cols" value="7" autocomplete="off" checked onclick="drawCanvas();">7x↓
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options_cols" value="8" autocomplete="off" onclick="drawCanvas();">8x↓
                    </label>    
                    <label class="btn btn-secondary">
                        <input type="radio" name="options_cols" value="10" autocomplete="off" onclick="drawCanvas(0);">
                        10x↓
                    </label>
                </div>
            </div>
            <div class="opt_col__line">
                <p>Cards shadows</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="radio" name="options_cards_shadow" value="1"autocomplete="off" checked onclick="drawCanvas();">on
                    </label>
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options_cards_shadow" value="0" autocomplete="off" onclick="drawCanvas();">off
                </div>
            </div>
        </div>
        <div class="opt_col">
            <div class="opt_col__line">
                <p>Hero image</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="radio" name="options_bg_hero" value="1" autocomplete="off" checked onclick="drawCanvas();">on
                    </label>
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options_bg_hero" value="0" autocomplete="off"onclick="drawCanvas();">off
                </div>
            </div>
            <div class="opt_col__line">
                <p>Dect cost</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="radio" name="options_deck_info" value="1" autocomplete="off" onclick="drawCanvas();">on
                    </label>
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options_deck_info" value="0" autocomplete="off" checked onclick="drawCanvas();">off
                </div>
            </div>
            <div class="opt_col__line">
                <p>Deck name</p>
                <input class="deck_name_input" id="deck_name_input" name="deck_name_input" type="text" spellcheck="false" maxlength="20" oninput="drawCanvas();">
            </div>
        </div>
        <div class="opt_col">
            <div class="opt_col__line">
                <p>Background color</p>
                <div id="sliderPicker"></div>
            </div>
        </div> -->
    </div>
</div>

    <div class="flex-container" id="canvas_div">
        <canvas class="inner-element" id='canvas' width="1792" height="1200">Canvas text</canvas>
    </div>

    <br>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous"></script>
<script src= "{{ url_for('static',filename='js/script.js') }}"></script>

</body>
</html>


